<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My Musicator</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./Content/bootstrap.css" rel="stylesheet" media="screen">
    <link href="./Content/bootstrap-responsive.css" rel="stylesheet" media="screen">
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
</head>
<body>
    <header>
        <div id="pagetop" class="container">
            <div class="row-fluid">
                <div class="span10">
                    <div class="pull-left">
                        <p class="site-title">My Musicator</p>
                    </div>
                    <div class="pull-right">
                        <nav>
                            <ul id="menu">
                                <li><a href="#/" rel="tooltip" title="Go to the main page">Home</a></li>
                                <li><a href="#/AlbumsReview" rel="tooltip" title="Review and rate albums">Review</a></li>
                                <li><a href="#/ArtistsDirectory" rel="tooltip" title="Go to artist directory">Artists</a></li>
                                <li><a href="#/AlbumsDirectory" rel="tooltip" title="Go to albums directory">Albums</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="body">
        <div class="container min-height">
            <div class="row-fluid">
                <div class="span10">
                    <section id="mainHidden" style="visibility: hidden; position: absolute"></section>
                    <section id="main">
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div>
        <div data-bind="visible: isGlobalLoading" class="CornerLoading">
            <img src="~/Images/ajax_loader_page.gif" />
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="pull-left">
                <p>&copy; @DateTime.Now.Year - My Musicator</p>
            </div>
            <div class="pull-right">
                <ul id="social">
                    <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                    <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                </ul>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/Scripts/lib/jquery.cslider.js")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    <script data-main="AppUI/Scripts/app.js" src="~/Scripts/lib/require.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
